body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
      padding:0;margin:0;
  }
  

   .heading,h3 {
      margin: 10px 0 30px 0;
      letter-spacing: 8px;
      font-size: 22px;
      color: #111;
  }
  .container {
      padding: 80px 120px;
  }
  .person {
      border: 6px solid transparent;
      margin-bottom: 15px;
      width: 80%;
      height: 80%;
  
  }
  .person:hover {
      border-color: #fff;
  }
  
  .images {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */
      width: 100%; /* Set width to 100% */
      margin: auto;
      height:600px !important;
      
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
  .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  
  .bg-1 h4 {
    color: #fff;
    font-size: 20px;
     background: #2d2d30;

    }
  .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
  }
  .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail p {
      margin-top: 15px;
      color: #555;
  }
  .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border-radius: 0;
      transition: .2s;
  }
  .btn:hover, .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
  }
  .modal-header, h4, .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-header, .modal-body {
      padding: 40px 50px;
  }
  .nav-tabs li a {
      color: #777;
  }
 
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #E52E1A;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar  {
      color: #d5d5d5 !important;
  }
  .navbar-brand{
    color: #fff !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open .dropdown-toggle {
      color: #fff;
      background-color: #292920 !important;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: #E52E1A !important;
  }

  .popover{
     padding: 5px;
      font-size: 15px;
    color:#000;
      max-width: 100%;
  }
  .footer1 {
      background-color: #2d2d30;
      color: #fff;
    padding: 25px;

  }

   .search:focus{
   outline-color:#E52E1A;
 }
 
   .portfolio-item {
    margin: 30px 0;
    width: 220px !important;
    height:100px !important;
    }
 

.search {
                padding:3px 10px;
                margin: -10px 0 0 0;
                border:0px solid #dbdbdb;
}
.button {
                position:relative;
                padding:5px 10px;;
                margin:-10px;
                border:1px solid #E52E1A;
                background-color:#E52E1A;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#E52E1A;
}
.dropdown:hover .dropdown-menu {
    display: block;
}
  footer a {
      color: #f5f5f5;
  }
  footer a:hover {
      color: #777;
      text-decoration: none;
  }
  .form-control {
      border-radius: 0;
  }
  textarea {
      resize: none;
  }